/* CSS for the holder element */
.holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

/* CSS for the individual boxes */
.box {
  display: flex;
	flex-direction: column; /* Stack content vertically */
  align-items: flex-start;
  width: 100px;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the different colored boxes */
.green {
  background-color: green;
  color: black;
}

.red {
  background-color: red;
  color: black;
}

.blue {
  background-color: blue;
  color: black;
}
